.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cold {
  background-color: lightblue;
}

.mild {
  background-color: lightblue;
}

.hot {
  background-color: lightcoral;
}

.weather-details {
  text-align: center;
}

input[type="text"] {
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  height: 48px;
  padding: 0 16px;
  width: 100%;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

input[type="text"]:focus {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}


.temperature{
  display: flex;
  align-items: center;
}